.contenido-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor-listado {
  border: 1px solid black;
  border-radius: 10px;
  border-color: #ad0c2f;
  overflow: hidden;
  padding: 0;
}

h1 {
  padding: 20px;
  margin: 0;
  background-color: #e5e8cc;
  color: #ad0c2f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 24px;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

.color-bienvenida {
  background-color: #c7001f;
  color: #ffff00;
}

.color-san-francisco {
  background-color: #a52a2a;
  color: #ffff00;
}

.color-gahndi {
  background-color: #556b2f;
  color: #ffff00;
}

.color-don-bosco {
  background-color: #144ee2;
  color: #ffff00;
}

.color-san-martin {
  background-color: #808080;
  color: #ffff00;
}

.color-sabio {
  background-color: #b703ff;
  color: #ffff00;
}

.color-nazareno {
  background-color: #0000ff;
  color: #ffff00;
}
