.contenido-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor-listado {
  border: 1px solid black;
  border-radius: 10px;
  border-color: #ad0c2f;
  overflow: hidden;
  padding: 0;
}

h1 {
  padding: 20px;
  margin: 0;
  background-color: #e5e8cc;
  color: #ad0c2f;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 24px;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

.color-bienvenida {
  background-color: darkmagenta;
  color: yellow;
}

.color-san-francisco {
  background-color: brown;
  color: #e5e3a5;
}

.color-gahndi {
  background-color: darkolivegreen;
  color: yellow;
}

.color-don-bosco {
  background-color: #144ee2;
  color: yellow;
}

.color-nazareno {
  background-color: grey;
  color: yellow;
}
